@model List<KutuphaneYonetim.Models.Kullanici>
<h2 class="text-center mt-4">Kullanıcı Listesi</h2>

<div class="table-responsive">
    <table class="table table-hover table-bordered text-center align-middle">
        <thead class="table-dark">
            <tr>
                <th>Kullanıcı Adı</th>
                <th>Aktif Ödünçler</th>
                <th>Geçmiş Ödünçler</th>
                <th>Durum</th>
                <
            </tr>
        </thead>
        <tbody>
            @foreach (var kullanici in Model)
            {
                <tr id="row-@kullanici.KullaniciID">
                    <td><strong>@kullanici.KullaniciAdi</strong></td>
                    <td>
                        <ul id="aktif-list-@kullanici.KullaniciID" class="list-unstyled mb-0">
                            @foreach (var odunc in kullanici.OduncIslemleri
                           .Where(o => o.IadeTarihi == null)
                           .OrderByDescending(o => o.AlisTarihi)
                           .Take(3))
                            {
                                <li>@odunc.Kitap.KitapAdi</li>
                            }
                        </ul>
                    </td>
                    <td>
                        <ul id="gecmis-list-@kullanici.KullaniciID">
                            @foreach (var odunc in kullanici.OduncIslemleri
                           .Where(o => o.IadeTarihi != null)
                           .OrderByDescending(o => o.IadeTarihi)
                           .Take(3))
                            {
                                <li>@odunc.Kitap.KitapAdi</li>
                            }
                        </ul>
                    </td>
                    <td>
                        <span id="durum-@kullanici.KullaniciID" class="badge @(kullanici.Durum ? "bg-success" : "bg-secondary")">
                            @(kullanici.Durum ? "Aktif" : "Pasif")
                        </span>
                    </td>
                   
                </tr>
            }
        </tbody>
    </table>
</div>


